@(articles: List[models.Article])

<div class="row">
    @for( article <- articles ) {
        <div class="col-6 col-sm-6 col-lg-4 articles">
            <div class="media">
                <span class="pull-left">
                    <a href="article/@article.getId()">
                        <img class="media-object" src="@article.getImageUrl()" alt="..." />
                    </a>

                </span>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="article/@article.getId()">
                            @article.getHeader()
                        </a>
                    </h4>
                    <p>@article.getTeaser() </p>
                    <a class="text-info" href="article/@article.getId()">Detaljer »</a>
                </div>
            </div>
        </div><!--/span-->
    }
</div><!--/row-->
