@(articleForm: Form[Article])

@import helper._
@import helper.twitterBootstrap._

@templateUserprofile("Brukerprofil") {

    <section id="new-article" class="row panel panel-primary">
        <div class="panel-heading">
            <h4>Legg inn nytt artikkel</h4>
        </div>

        <div class="panel-body">
        @form(action = controllers.common.routes.Application.newArticle(), 'id -> "articleForm", 'role -> "form") {

            <div class="form-group col-xs-7">
                @inputText(articleForm("name"), '_label -> "Artikkelnavn", 'class -> "form-control")
            </div>
            <div class="form-group col-xs-7">
                @inputText(articleForm("producer"), '_label -> "Produsent", 'class -> "form-control")
            </div>

            <div class="form-group col-xs-7">
                @inputText(articleForm("header"), '_label -> "Tittel", 'class -> "form-control")
            </div>

            <div class="form-group col-xs-7">
                @inputText(articleForm("teaser"), '_label -> "Intro", 'class -> "form-control")
            </div>

            <div class="form-group col-xs-7">
                @textarea(articleForm("body"), '_label -> "Beskrivelse", 'class -> "form-control")
            </div>

            <div class="form-group col-xs-7">
                @inputText(articleForm("imageUrl"), '_label -> "Bildeurl", 'class -> "form-control")
                <p class="help-block">Example block-level help text here.</p>
            </div>
            <div class="checkbox col-xs-7">
                @checkbox(articleForm("published"), '_label -> "Er artikkel tilgjengelig til utlån?")
            </div>

            <button type="submit" class="btn btn-primary col-xs-7">Submit</button>

        }
        </div>
    </section>
}