@(articles: List[Article])

<div class="row">
    @for( article <- articles ) {
        <div class="col-6 col-sm-6 col-lg-4 articles">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/100x100&text=article" alt="..." />
                </a>
                <div class="media-body">
                    <h4 class="media-heading">@article.getHeader()</h4>
                    <p>@article.getBody() </p>
                    <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
                </div>
            </div>
        </div><!--/span-->
    }
</div><!--/row-->
