@(article: Article)

@templateWithJumbo("Artikkel Detaljer") {
    <div class="col-6 col-sm-6 col-lg-4 articles">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="http://placehold.it/100x100&text=article" alt="..." />
            </a>
            <div class="media-body">
                <h4 class="media-heading">@article.getHeader()</h4>
                <p>@article.getBody() </p>
            </div>
        </div>
        <p>
            @if( article.isAvailable() ) {
            <a class="btn btn-primary" href="#" role="button">Låne nå</a>
            } else {
            <a class="btn btn-danger" href="#" role="button">Utleid</a>
            }

            <a class="btn btn-default" href="#" role="button">Detaljer »</a>

        </p>
    </div><!--/span-->
}